body
  min-width: 960px
  margin: 0 100px

.site-content
  position: relative


.site-head
.site-main
.site-foot
  margin: 0 auto

.site-head
.site-foot
  .inner
  	padding: 0 60px

.site-head
  margin-top: 90px

.site-main
  margin-top: 30px
  margin-bottom: 30px
  margin-right: 260px

.site-aside
  position: absolute
  right: 0
  top: 0
  width: 240px
  height: 100%
  margin-bottom: 30px

.site-foot
  margin-bottom: 30px