include _views/post
extends _views/main

block main
  +post(page, 'post')
  if theme.duoshuo_short_name && page.comments
    div.comments#comments
      div.ds-thread(data-thread-key=page.path, data-url=page.permalink)
        if theme.duoshuo_short_name

           <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
           script.
             var duoshuoQuery = {short_name:"#{theme.duoshuo_short_name}"};
             (function() {
               var ds = document.createElement('script');
               ds.type = 'text/javascript';ds.async = true;
               ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
               ds.charset = 'UTF-8';
               document.getElementsByTagName('body')[0].appendChild(ds);
             })();
           <!-- 多说公共JS代码 end -->

block head
  title
    = page.title + ' - ' + config.title
  meta(name="description", content=page.title)