include _views/post
extends _views/main

block main
  +post(page, 'post')
  if config.disqus_shortname && page.comments
    div.comments#comments
      div#disqus_thread.ds-thread

block head
  title
    = page.title + ' - ' + config.title