div#back-top(title="返回顶部")
script(src="/js/script.js")
if theme.cnzz_id
  <script src="http://s11.cnzz.com/stat.php?show=pic1&id=#{theme.cnzz_id}&web_id=#{theme.cnzz_id}" language="JavaScript"></script>

block foot