.site-head
.site-foot
  height: 120px
  line-height: (@height - 2)
  background-color: #262a30
  // 343434
  // 6d6d6d
  border: 1px solid #000
  box-shadow: 1px 2px 3px #ddd

.site-title
  font-size: 30px
  a
    color: #fff

img[src="http://icon.cnzz.com/img/pic1.gif"]
  display: none

.site-nav__item
  display: inline-block
  *display: inline
  zoom: 1
  margin-left: 20px

.site-nav__link
  color: #999
  &:hover
    color: #fff

.site-copy
  font-size: 14px
  color: #999

.page-menu__item
  display: inline-block
  *display: inline
  zoom: 1
  padding-left: 10px

.page-menu__link
  position: relative
  font-size: 16px
  color: #fff

#back-top
  display: none
  cursor: pointer
  position: fixed
  right: 64px
  bottom: 50px
  width: 16px
  height: 14px
  padding: 11px 10px
  background: #262A30 url(images/back-top.png) no-repeat center
  background-size: 16px auto
  &:hover
    opacity: 0.7