.widget.about
  .b
    .info.u-cf
      img(src="/avatar.jpg")
      .text 
        p Your Name
        p More info
        p Job
        p 
          a.weibo.ico(href="###", title="wiebo")
          a.qq.ico(href="###", title="qq")
          a.github.ico(href="###", title="github")